/* rythm
-------------------------------------------------------------- */


h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}

/* avoid last-child bottom margin */
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
blockquote:last-child,
pre:last-child,
table:last-child {
  margin-bottom: 0;
}


/* avoid supp margin on nested elements */
li p,
li ul {
  margin-top: 0;
  margin-bottom: 0;
}
/* you shall not pass */

code,
pre,
samp {
  white-space: pre-wrap;
  font-family: consolas, "DejaVu Sans Mono", courier, monospace;
}
code {
  line-height: 1;
}
table {
  margin-bottom: 1.5em;
}
/* style
-------------------------------------------------------------- */

html,
body {
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:visited {
  color: #39df7f;
  text-decoration: underline;
}

.tingle-demo {
  display: none;
}









