body  {
	height: 100%;
	background: url('../media/images/3-side.jpg') repeat center center;
    background-size: contain;
	position: relative;
}

.layer{
    background-color: rgba(24, 147, 217, 0.42);
    background-repeat: repeat-x;
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0px;
    border-bottom: 2px solid #e3e3e3;
    background: #fff;
}

.container-main{
    position:relative; /* make any positioned child elements relative to this */
    overflow: hidden;
    margin: 60px auto;
    max-width: 700px;
    min-height: 300px;
    box-shadow: 2px 2px 10px rgba(107, 107, 107, 0.09);
}

.container-main > .translucent{
    position: absolute;
    top:0;
    bottom: 0;
    width: 100%;
    background: #233551;
    box-shadow: 2px 2px 10px rgba(35, 53, 81, 0.95);
    opacity: 0.4;

}
.container-main > .content
{
	position: relative;
	margin: 60px auto;
	max-width: 700px;
	min-height: 300px;

}

.content > .page-title
{
	margin: 0 15px;
	padding: 15px 0 30px 0;
	//border-top: 1px solid #ddd;
	//border-bottom: 1px solid #ddd;
}
.content > .page-title > .title
{
	font-size: 40px;
	font-family: 'Raleway', sans-serif;
	color: white;
	font-weight: 400;
}
.content > .page-title > .description
{
	padding-top: 13px;
	font-size: 16px;
	color: white;
}


.final-text
{
    margin: 5%;
    background-color: #2e3436;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #ffffff;
	padding: 60px 15px 130px 15px;
	text-align: center;
}

.input-box { padding: 15px }
.weight-scale > .input-label,
.input-box > .input-label
{
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	padding-bottom: 5px;
}
.input-box > .input-label > .help-button
{
	position: relative;
	cursor: pointer;
}
.input-box > .input-label > .help-button:hover { color: #16a085 }
.input-box > .input-label > .help-button:active { top: 1px }
.input-box > .help-text
{
	display: none;
	font-size: 15px;
	margin-top: 5px;
}
.input-box > input
{
    background-color: rgba(254, 254, 254, 0.8);
	width: 100%;
	color: #1c1c1c;
	font-size: 15px;
	padding: 10px 10px;
	border: 1px solid #ffffff;
    font-weight: 400;
}
.next-button
{
	position: relative;
	float: right;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	background: rgb(113, 191, 255);
	border-bottom: 2px solid rgb(105, 168, 226);
	margin: 15px;
	cursor: pointer;
}
.next-button:hover
{
	background: #135258;
	border-bottom: 2px solid #08171c;
}
.next-button:active { top: 1px }

.previous-button
{
    position: relative;
    float: left;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background: rgb(113, 191, 255);
    border-bottom: 2px solid rgb(105, 168, 226);
    margin: 15px;
    cursor: pointer;
}

.previous-button:hover
{
    background: #135258;
    border-bottom: 2px solid #08171c;
}
.previous-button:active { top: 1px }

.image-background.background{ background: url('../media/images/background.jpg') no-repeat center center }

.image-cover
{
	height: 130px;
	border-bottom: 1px solid #f8f8f8;
}
.image-cover.yellow 
{
    margin: 1%;
	background: url('../media/images/yellow.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:  cover
}
.image-cover.blue 
{

    margin: 1%;
	border-top: 1px solid #fbfbfb;
	background: url('../media/images/blue.jpg') no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.infusion-title
{
	padding: 2%;
	font-size: 20px;
	font-weight: 600;
	color: #ffffff;
	text-align: center;
	border-top: 1px solid #ffffff;
}
.infusion-title:first-child { border-top: none }
.dosage-container { overflow: hidden }
.dosage-container > .treatment-container
{
	float: left;
	width: 233px;
	height: 320px;
	padding: 10px;
}
.dosage-container > .treatment-container > .image-box
{
	width: 200px;
	height: 200px;
}
.dosage-container > .treatment-container > .image-box.first 
{ 
	background: url('../media/images/first.jpg') no-repeat center center;
	-webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}
.dosage-container > .treatment-container > .image-box.second 
{ 
	background: url('../media/images/second.jpg') no-repeat center center;
	-webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}
.dosage-container > .treatment-container > .image-box.third 
{ 
	background: url('../media/images/third.jpg') no-repeat center center;
	-webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}
.dosage-container > .treatment-container > .text-box
{
    margin: 5% 3% 5% 3%;
	color: #ffffff;
    background-color: rgba(35, 53, 81, 0.4);
	font-size: 16px;
    padding: 15px 10px 15px 10px;
    text-align: center;
}

.weight-scale
{
    color: white;
	padding: 15px;
	margin: 10px 0;
	border-bottom: 1px solid #eeeeee;
}
.weight-scale > .input-label
{
	margin-bottom: 15px;

}
.weight-scale > #weight
{

	margin-top: 15px;
	width: 70px;
	padding: 5px;
	border: 1px solid #f0f0f0;
}



/** Colors **/
ol.progress-track {
  display: table;
  list-style-type: none;
  margin: 15px;
  padding: 25px 0;
  table-layout: fixed;
  width: 670px;
  border-bottom: 1px solid #efefef;
}
ol.progress-track li {
  display: table-cell;
  line-height: 3em;
  position: relative;
  text-align: center;
}
ol.progress-track li .icon-wrap {
  border-radius: 50%;
  top: -1.5em;
  color: #fff;
  display: block;
  height: 2.5em;
  margin: 0 auto -2em;
  left: 0;
  right: 0;
  position: absolute;
  width: 2.5em;
}
ol.progress-track li .icon-check-mark,
ol.progress-track li .icon-down-arrow {
  height: 25px;
  width: 15px;
  display: inline-block;
  fill: currentColor;
}
ol.progress-track li .progress-text {
  position: relative;
  top: 10px;
}
ol.progress-track li.progress-done {
  border-top: 7px solid rgba(164, 208, 245, 1);
  transition: border-color 1s ease-in-out;
  -webkit-transition: border-color 1s ease-in-out;
  -moz-transition: border-color 1s ease-in-out;
}
ol.progress-track li.progress-done .icon-down-arrow {
  display: none;
}
ol.progress-track li.progress-done.progress-current .icon-wrap {
  background-color: rgb(94, 171, 225);
}
ol.progress-track li.progress-done.progress-current .icon-wrap .icon-check-mark {
  display: none;
}
ol.progress-track li.progress-done.progress-current .icon-wrap .icon-down-arrow {
  display: block;
}
ol.progress-track li.progress-done .icon-wrap {
  background-color: #233351;
  border: 5px solid #45caff;
}
ol.progress-track li.progress-todo {
  border-top: 7px solid #d1d1d1;
  color: #d1d1d1;
}
ol.progress-track li.progress-todo .icon-wrap {
  background-color: #FFF;
  border: 5px solid #aeaeae;
  border-radius: 50%;
  bottom: 1.5em;
  color: #fff;
  display: block;
  height: 2.5em;
  margin: 0 auto -2em;
  position: relative;
  width: 2.5em;
}
ol.progress-track li.progress-todo .icon-wrap .icon-check-mark,
ol.progress-track li.progress-todo .icon-wrap .icon-down-arrow {
  display: none;
}

#container{
    margin: 2%;
}

