body  {
	height: 100%;
	background: #00B241;
	// background: url('../media/images/background.jpg') repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.header
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 30px;
	border-bottom: 2px solid #ddd;
	background: #fff;
}
.content
{
	overflow: hidden;
	margin: 60px auto;
	max-width: 700px;
	min-height: 300px;
	background: #f6f6f6;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .3)
}
.content > .page-title
{
	margin: 0 15px;
	padding: 30px 0;
	border-top: 1px solid #ddd;
	// border-bottom: 1px solid #ddd;
}
.content > .page-title > .title
{
	font-size: 28px;
	font-family: 'Raleway', sans-serif;
	color: #666;
	font-weight: 400;
}
.content > .page-title > .description
{
	padding-top: 10px;
	font-size: 16px;
	color: #888;
}


.final-text
{
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #444;
	padding: 60px 15px 130px 15px;
	text-align: center;
}

.input-box { padding: 15px }
.weight-scale > .input-label,
.input-box > .input-label
{
	color: #444;
	font-size: 13px;
	font-weight: 600;
	padding-bottom: 5px;
}
.input-box > .input-label > .help-button
{
	paosition: relative;
	cursor: pointer;
}
.input-box > .input-label > .help-button:hover { color: #16a085 }
.input-box > .input-label > .help-button:active { top: 1px }
.input-box > .help-text
{
	display: none;
	font-size: 12px;
	margin-top: 5px;
}
.input-box > input
{
	width: 100%;
	color: #444;
	font-size: 13px;
	padding: 10px 10px;
	border: 1px solid #ddd;
}
.next-button
{
	position: relative;
	float: right;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	background: #00B241;
	border-bottom: 2px solid #0f7a65;
	margin: 15px;
	cursor: pointer;
}
.next-button:hover
{
	background: #008930;
	border-bottom: 2px solid #0b5647;
}
.next-button:active { top: 1px }

.image-background.background{ background: url('../media/images/background.jpg') no-repeat center center }

.image-cover
{
	height: 130px;
	border-bottom: 1px solid #ddd;
}
.image-cover.yellow 
{ 
	background: url('../media/images/yellow.jpg') no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:  cover
}
.image-cover.blue 
{ 
	margin-top: 25px;
	border-top: 1px solid #ddd;
	background: url('../media/images/blue.jpg') no-repeat center center;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.infusion-title
{
	padding: 20px;
	font-size: 16px;
	font-weight: 600;
	color: #444;
	text-align: center;
	border-top: 1px solid #ddd;
}
.infusion-title:first-child { border-top: none }
.dosage-container { overflow: hidden }
.dosage-container > .treatment-container
{
	float: left;
	width: 233px;
	height: 270px;
	padding: 10px;
}
.dosage-container > .treatment-container > .image-box
{
	width: 200px;
	height: 200px;
}
.dosage-container > .treatment-container > .image-box.first 
{ 
	background: url('../media/images/first.jpg') no-repeat center center;
	-webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}
.dosage-container > .treatment-container > .image-box.second 
{ 
	background: url('../media/images/second.jpg') no-repeat center center;
	-webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}
.dosage-container > .treatment-container > .image-box.third 
{ 
	background: url('../media/images/third.jpg') no-repeat center center;
	-webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}
.dosage-container > .treatment-container > .text-box
{
	color: #444;
	font-size: 13px;
	padding-top: 10px;
}

.weight-scale
{
	padding: 15px;
	margin: 10px 0;
	border-bottom: 1px solid #ddd;
}
.weight-scale > .input-label
{
	margin-bottom: 15px;
}
.weight-scale > #weight
{
	margin-top: 15px;
	width: 70px;
	padding: 5px;
	border: 1px solid #ddd;
}



/** Colors **/
ol.progress-track {
  display: table;
  list-style-type: none;
  margin: 15px;
  padding: 25px 0;
  table-layout: fixed;
  width: 670px;
  border-bottom: 1px solid #ddd;
}
ol.progress-track li {
  display: table-cell;
  line-height: 3em;
  position: relative;
  text-align: center;
}
ol.progress-track li .icon-wrap {
  border-radius: 50%;
  top: -1.5em;
  color: #fff;
  display: block;
  height: 2.5em;
  margin: 0 auto -2em;
  left: 0;
  right: 0;
  position: absolute;
  width: 2.5em;
}
ol.progress-track li .icon-check-mark,
ol.progress-track li .icon-down-arrow {
  height: 25px;
  width: 15px;
  display: inline-block;
  fill: currentColor;
}
ol.progress-track li .progress-text {
  position: relative;
  top: 10px;
}
ol.progress-track li.progress-done {
  border-top: 7px solid #00B241;
  transition: border-color 1s ease-in-out;
  -webkit-transition: border-color 1s ease-in-out;
  -moz-transition: border-color 1s ease-in-out;
}
ol.progress-track li.progress-done .icon-down-arrow {
  display: none;
}
ol.progress-track li.progress-done.progress-current .icon-wrap {
  background-color: #0070c0;
}
ol.progress-track li.progress-done.progress-current .icon-wrap .icon-check-mark {
  display: none;
}
ol.progress-track li.progress-done.progress-current .icon-wrap .icon-down-arrow {
  display: block;
}
ol.progress-track li.progress-done .icon-wrap {
  background-color: #4a6a28;
  border: 5px solid #00B241;
}
ol.progress-track li.progress-todo {
  border-top: 7px solid #DDD;
  color: black;
}
ol.progress-track li.progress-todo .icon-wrap {
  background-color: #FFF;
  border: 5px solid #DDD;
  border-radius: 50%;
  bottom: 1.5em;
  color: #fff;
  display: block;
  height: 2.5em;
  margin: 0 auto -2em;
  position: relative;
  width: 2.5em;
}
ol.progress-track li.progress-todo .icon-wrap .icon-check-mark,
ol.progress-track li.progress-todo .icon-wrap .icon-down-arrow {
  display: none;
}

